footer, .footer{
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.nav{
			.menu-footer-menu-container{
				ul{
					display: flex;
					margin: 0;
					padding: 0;
					list-style-type: none;
					li{
						padding: 0 15px 0 0;
					}
				}
			}
		}
	}
}