.preloader_script {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100vw;
	height: 100vh;
	background: $c-primary;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease;
	z-index: 99999999999999;
	overflow: hidden;
	.preloader_script_inner {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 4em;
		height: 4em;
		line-height: 4em;
		text-align: center;
		font-size: 3em;
		font-family: monospace;
		font-weight: 300;
		color: white;
	}
}
.show {
	visibility: visible !important;
	opacity: 1 !important;
	transition: all 0.5s ease;
}
.wrapper{
	visibility: hidden;
	opacity:0;
	transition:all 0.5s ease;
}

header, .header{
	height: 100px;
	width: 100vw;
	display: flex;
	align-items: center;
	z-index: 100;
	.container{
		display: flex;
		justify-content: space-between;
		.menu-header-menu-container{
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: flex;
				li{
					padding: 0 15px 0 0;
				}
			}
		}
	}
}