$bp-xxs: 372px;
$bp-xs: 575px;
$bp-sm: 767px;
$bp-md: 991px;
$bp-lg: 1199px;
$bp-xl: 1480px;

$f-stack: 'DIN Next', Arial, sans-serif;

$c-primary: #86BFAE;
$c-action: $c-primary;
$c-text: #2e2d2c;
$c-lightgray: #f5f5f5;
$c-darkgray: #a5a5a5;
$c-gray: #d9d9d9;
$c-white: #FFF;

$f-size-xl: 45px;
$f-size-l: 24px;
$f-size-m: 20px;
$f-size: 15px;
$f-size-s: 14px;
$f-size-xs: 12px;
$f-size-xxs: 11px;

$trim: 60px;
$trim-m: 40px;
$trim-s: 30px;
$trim-xs: 15px;