.home {
    .wrapper {
        .content-area {
            .content {
                .copytext{
                    .container {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
