.home{
    .wrapper{
        .content-area{
            .content{
                .imagegalerie{
                    .container{
                        ul{
                            li{
                                list-style-type: none;
                                a{
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}