/* adapted from  https://codepen.io/glebkema/pen/Xjryjd*/




.carousel{
    .container{
        .owl-carousel{
            list-style-type: none;
            .owl-nav{
                display: flex;
                flex-direction: row;
                .owl-prev{
                    background-image: url(../../assets/img/arrow_left.svg);
                    background-repeat: no-repeat;
                    content: '';
                    width: 30px;
                    height: 5px;
                }
                .owl-next{
                    background-image: url(../../assets/img/arrow_right.svg);
                    background-repeat: no-repeat;
                    content: '';
                    width: 30px;
                    height: 5px;
                }
            }
            .owl-stage {
                height: 60vh;
                display: flex;
                align-items: center;
                .active {
                    transform: scale(1);
                    transition: .6s ease;
                    -webkit-filter: grayscale(100%);
                    /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }
                .active.center {
                    transform: scale(2);
                    z-index: 100;
                    -webkit-filter: grayscale(0);
                    /* Safari 6.0 - 9.0 */
                    filter: grayscale(0);
                }
                .cloned{
                    transform: translateX(3px);
                }
            }
        }
    }
}